---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Projects from '../../projects.json'
import ProjectCard from '../components/ProjectCard.astro';
const allPosts = await Astro.glob('../pages/blog/*.md');
const slicedArray = allPosts.slice(0, 2);
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <section class="hero">
<div>
  <span  data-aos="fade-left" class="hero__eyebrow">Hi &#128075;, my name is</span>
  <h1 data-aos="fade-up" class="hero__name">Joseph Reilly</h1>
  <span  data-aos="fade-left" class="hero__subtitle">I build things for the web</span>
  <p data-aos="fade-up">I’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences.
    ’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences.
    ’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences.
    ’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences.
  </p>
  <a data-aos="flip-left" class="btn hero__button" href="#">Check this out</a>
  <a data-aos="flip-left" class="btn-outline hero__button" href="#">Github</a>
</div>
<!-- <div>
  <img data-aos="fade-right" src="site-bg.png" alt="hero" />
</div> -->

  </section>
  
  <section id="projects">
    <h2 data-aos="fade-right" data-aos-anchor-placement="top-center">Projects</h2>
<div class="projects-container">
  { Projects.map((project) => <ProjectCard image={project.image} title={project.title} desc={project.description} link={project.link}/>) }

</div>
    
  </section>
  <!-- <section id="contact"> 
    <div>
      <h2>Contact Information</h2>
      <a href = "mailto:reilly4181@gmail.com"  class="email">Email Me</a>
    </div>
    <div>   
      <h2>A Call to Action</h2>
      <a href="" class="btn cta"> Contact Me </a>
    </div>

  </section> -->

  <section id="blog-posts">
    <h2 data-aos="fade-right">Recent Blog Posts</h2>
    <div class="posts-container">
      {
      slicedArray.map((post) => 
      <BlogPost url={post.url} image={post.frontmatter.image.url} title={post.frontmatter.title} author={post.frontmatter.author} pubDate={post.frontmatter.pubDate.slice(0,10)} />)
      }
    </div>
    <a href="/blog" class="posts">See more posts</a>
  </section>


</BaseLayout>
<style>
  #projects{
    padding: 2rem 0;
  }
 
  .projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:2rem;
  }
  .hero{;
    margin-bottom: 2rem;
  }
.posts{
  text-align: right;
  font-size: 1.5rem;
}

</style>
