---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Projects from '../../projects.json'
import ProjectCard from '../components/ProjectCard.astro';
const allPosts = await Astro.glob('../pages/blog/*.md');

const slicedArray = allPosts.slice(0, 2);
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Home Page";
// import MySwiper from '../components/MySwiper.jsx';

---
<BaseLayout pageTitle={pageTitle}>
  <!-- <div class="projects-container" >
    { Projects.map((project) => <MySwiper image={project.image} title={project.title} desc={project.description} link={project.link}/>) }
</div> -->
  <section class="hero">
<div>
  <span  data-aos="fade-left" class="hero__eyebrow">Hi &#128075;, my name is</span>
  <h1 data-aos="fade-up" class="hero__name">Joseph Reilly</h1>
  <span  data-aos="fade-left" class="hero__subtitle">I build things for the web</span>
  <p data-aos="fade-up">   As a fullstack web developer, my mission is to create stunning,
    responsive websites that are optimized for performance and user engagement. 
    I am passionate about creating beautiful, functional websites that enhance the user experience and dedicated to delivering high-quality, responsive websites that meet the unique needs of each client.
  I strive to bring creativity and innovation to every project, pushing the boundaries of what's possible in web design.
  </p>
  <a data-aos="flip-left" class="btn hero__button" target="_blank" href="https://docs.google.com/document/d/1tO05_yABI3o6cGgVrt_zy4tXTHdErPQWg3E00IqRm_U/">Resume</a>
  <a data-aos="flip-left" class="btn-outline hero__button" href="https://github.com/JosephPR">Github</a>
</div>
<!-- <div>
  <img data-aos="fade-right" src="site-bg.png" alt="hero" />
</div> -->

  </section>
  
  <section id="projects">
    <h2 data-aos="fade-right">Projects</h2>
<div class="projects-container" >
  { Projects.map((project) => <ProjectCard  image={project.image} title={project.title} desc={project.description} link={project.link}/>) }

</div>
    
  </section>

  <section id="blog-posts">
    <h2 data-aos="fade-right">Recent Blog Posts</h2>
    <div class="posts-container">
      {
      slicedArray.map((post) => 
      <BlogPost url={post.url} image={post.frontmatter.image.url} title={post.frontmatter.title} author={post.frontmatter.author} pubDate={post.frontmatter.pubDate.slice(0,10)} />)
      }
    </div>
    <a href="/blog" class="posts">See more posts</a>
  </section>


</BaseLayout>
<style>
  #projects{
    padding: 2rem 0;
  }
 
  .projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:2rem;
    margin:1rem 0;
  }
  .hero{
    /* background: url('/result.png') no-repeat center right/cover; */
  
    margin-bottom: 2rem;
  }

.posts{
  text-align: right;
  font-size: 1.3rem;
}
#blog-posts h2{
    margin: 1rem 0;
  }

</style>
