---
const { url, title, author, image, description,  pubDate} = Astro.props;
console.log(Astro.props)
---
<a data-aos="fade-up" href={url}>
  <div class="post">
    <img src={image} alt={image} width="100%" />
 <h2>{title}</h2> 
   <p>{description}</p>
    <em>{author}</em> - 
    <span>{pubDate}</span>
</div>
</a>
